{% extends 'base.html' %}

{% block content %}

    {% if object_list|length == 0%}
        <p>No records </p>
    {% else %}
    <h3>List of authors</h3>
    <table class='table'>
        <thead>
            <tr>              
              <th scope="col">Profile Pic</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
            </tr>
          </thead>
    {% for author in object_list %}
        
        <tr scope="row">
            {% if author.profile_pic %}
                <td><img src="{{ author.profile_pic.url }}" style="width: 50; height: 50px;" ></img></td>
            {% else %}
                <td>No Image</td>
            {% endif %}
            <td>{{ author.user.username }}</td>
            <td>{{ author.user.email }}</td>
            <td><a href="{% url 'detail_author' author.id %}"><button>Detail</button></a></td>
        </tr>
        
    {% endfor %}
    </table>

    {% endif %}
{% endblock %}